.bubble-wrapper {
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bubble-bg-color, #007dfe);
}

.bubble-wrapper p {
  margin: 0;
  font-family: 'HeliosCondC';
  font-size: 14px;
  color: var(--bubble-text-color, #fff);
}
