.role-form {
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  color: #5f6770;
  font-size: 13px;
}

.role-form,
.role-form * {
  font-family: 'HeliosCondC';
}

.role-form .form-group {
  margin-bottom: 16px;
}

.role-form .form-group:last-child {
  margin-bottom: 0;
}

.role-form label:not(.ant-checkbox-wrapper) {
  display: block;
  margin-bottom: 8px;
  color: #333333;
  font-weight: 500;
  font-family: 'HeliosCondC';
  font-size: 14px;
}

.role-form .required {
  color: #ff4d4f !important;
  margin-left: 2px;
}
